@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.nav {
  width: 340px;
  @include flex(row, space-between, stretch, nowrap);

  a {
    @include text($TextFontFamily, 14px, 1.2, 400);
    color: $textColor;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: $primaryColor;
    }
  }

  .active {
    color: $primaryColor;
  }
  @media (max-width: 450px) {
      display: none;
  }
}
