.skillsBlock {
    margin: 100px 0;
    background-color: #afafc2;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #af9ec2;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media (max-width: 1130px) {
    .skillsBlock {
        margin: 50px 0;
    }

    .skills {
        justify-content: space-around;
    }

}