@import "src/common/styles/sass/variables.scss";
@import "src/common/styles/sass/mixins.scss";

.skillsBlock {
  padding: 100px;

  .skillsContainer {
    @include container();
    @include flex(column, flex-start, center, nowrap);

    .skills {

      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: repeat(auto-fit, 200px);
      justify-content: space-between;
      width: 100%;
      @media (max-width: 525px) {
        @include flex(initial, space-around, center, wrap);
      }
    }
  }

  @media (max-width: 854px) {
    padding: 100px 0 100px 0;
  }
}