.formBlock {
    background-color: #afafc2;
}

.formContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #af9ec2;
}

.form {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}