.mainBlock {
    display: flex;
    height: 100vh;
    background-color: #ffd4c3;
}

.text {
    width: 350px;
    background-color: #ffffa0;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #ffffa0;
}

@media (max-width: 815px) {
    .mainBlock {
        height: auto;

    }
}

