@import "../../common/styles/sass/variables";

.project {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  background: $bgSecondColor;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
    }
    .buttonIcon {
      background-color:$primaryColor;
      font-size: 13px;
      font-weight: 600;
      color: $textColor;
      text-transform: uppercase;
      padding: 14px 40px;
      border-radius: 2px;
      border: 0;
      cursor: pointer;
      position: relative;
      z-index: 1;
    }
  }

  .projectInfo {
    padding: 25px 20px;

    .projectTitle {
      margin: 0 0 5px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font: 16px/1.2 'Josefin Sans', sans-serif;
    }

    .description {
      font-size: 12px;
      padding: 0 20px;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-stretch: normal;
      line-height: 1.8;
      color: $textColor;
    }
  }
}








