@import "../common/styles/sass/variables.scss";
@import "../common/styles/sass/mixins.scss";

.nav {
  width: 340px;
  @include flex(row, space-between, center, nowrap);

  a {
    @include text($TextFontFamily, 14px, 1.2, 300);
    color: $textColor;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: $primaryColor;
    }
  }

  .active {
    color: $primaryColor;
  }
}
