@import "../common/styles/sass/variables.scss";
@import "../common/styles/sass/mixins.scss";

.footerBlock {
  min-height: 300px;
  @include flex(row, center, stretch, nowrap);

  .footerContainer {
    @include container();
    @include flex(column, center, center, nowrap);
    padding: 100px 0 20px;
    @media (max-width: 854px) {
      padding: 50px 0 20px;
    }

    .socialNetworks {
      @include flex(row, space-between, center, nowrap);
      width: 400px;
      margin-top: 30px;
      @media (max-width: 505px) {
        width: 100%;
      }

      .socialNetworkIcon {
        width: 60px;
        height: 60px;
        border: 1px solid #4a4a4a;
        border-radius: 50%;

        &:hover {
          border: 1px solid $primaryColor;
          transition: all 0.2s ease-in-out 0s;

          .icons {
            color: $primaryColor;
            transition: all 0.1s ease-in-out 0s;
          }
        }

        @media (max-width: 424px) {
          width: 50px;
          height: 50px;
        }

        a {
          width: 100%;
          height: 100%;
          @include flex(row, center, center, nowrap);

          .icons {
            font-size: 1.8rem;
            color: $textColor;
            @media (max-width: 424px) {
              font-size: 1.3rem;
            }
          }
        }
      }
    }

    .copyright {
      margin-top: 40px;
      @include text($TextFontFamily, 14px, 1.8, 300);
      opacity: 0.6;
      color: $textColor;
    }
  }

  @media (max-width: 424px) {
    text-align: center;
  }
}
