@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins.scss";

.projectsBlock {
  padding: 100px;

  .projectsContainer {
    @include container();
    @include flex(column, flex-start, center, nowrap);

    .projects {
      @include flex(initial, space-between, flex-start, wrap);
      width: 100%;
      @media (max-width: 1450px) {
        justify-content: space-around;
      }
    }
  }

  @media (max-width: 854px) {
    padding: 50px 0 50px 0;
  }
}





