.projectsBlock {
    background-color: #1f1f20;
    padding: 100px;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
    margin: 0 0 30px;
    position: relative;
}

.title h2 {
    margin: 0;
}

.title::before {
    position: absolute;
    content: "";
    background: #4e93e6;
    width: 55px;
    height: 1px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
}


.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 1330px) {
    .projects {
        justify-content: space-around;
    }

}