.projectsBlock {
  background-color: #1f1f20;
  padding: 100px;

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      @media (max-width: 1450px) {
        justify-content: space-around;
      }
    }
  }
}





